<!DOCTYPE html>
<html lang="en"  >
 <head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <title>dashboard</title>
 </head>
 <body>
 <form th:action = "@{/logout}" th:object="${counsellors}" method="post" >
		<h3>Welcome to your dashBoard</h3>
		
		<h5>Total Enquires</h5>
		<h5>Open Enquires</h5>
		<h5>Enrolled Enquires</h5>
		<h5>Lost Enquires:</h5>
		<a href="register" class="link-primary"><u>Add New Enquiry</u></a>&nbsp;&nbsp;
		<a href="register" class="link-primary"><u>View Enquires</u></a><br>
		<button type="submit" class="link-primary">LogOut</button>
		</form>
 </body>
</html>